<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      [Application name] - [Functional Requirement Id] - [Functional Requirement
      Title] - [Specification Version]
    </title>
    <link rel="stylesheet" href="../styles.css" />
  </head>
  <body>
    <div class="requirement">
      <h3 class="requirement-id" id="fr-001">
        [Application name] - [Functional Requirement Id] - [Functional
        Requirement Title] - [Specification Version]
      </h3>
      <div class="requirement-description">
        <p>
          <strong>Description:</strong> [Clear description of what the system
          should do]
        </p>
        <p><strong>Related User Role:</strong> [User Role]</p>
      </div>
      <div class="test-scenarios">
        <div class="test-scenarios-label">Manual Testing Scenarios</div>
        <ul>
          <li>
            <a href="[Test Case Filename 1].html"
              >[Test Case Id 1]: [Test Case Title 1]</a
            >
          </li>
          <li>
            <a href="[Test Case Filename 2].html"
              >[Test Case Id 2]: [Test Case Title 2]</a
            >
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
